#img_logo{
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.header_item{
    display: inline-block;
	width: 40%;
}

.section{
    display: none;
}